
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #C2185B;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 6px;
    margin: 0;
}
.imgs{
  opacity: 0.6;
}
.slider .indicators .indicator-item.active {
    background-color: #F8BBD0;
}
.parallax-container {
      height: 300px;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63 ;
  -webkit-box-shadow: 0 1px 0 0 #e91e63 ;
          box-shadow: 0 1px 0 0 #e91e63 ;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63;
}
.input-field .prefix.active {
  color: #e91e63;
}
.pagination li.active {
    background-color: #880e4f;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #2196f3;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}